.Navbar{
   @include size(100%, 150px);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 20px;
   background:$green;
   .search{
      height: 40px;
      width: 200px;
      border-radius: 15px;
      border: none;
      color: $dark;
      background-color: $skyblue;
      padding-left: 10px;
   }
   .NavbarContent{
      display: flex;
      gap: 50px;
      li{
         border-bottom: 1px solid;
         :hover{
            background: $dark;
            color: $white;
         }
      };

   };
};