// Default
//--------------------------------------------------------------------///
$black:     #000000;
$white:     #FFFFFF;


// Design System
//--------------------------------------------------------------------//
$primary: #222222;
$secondary: #f43d3d;
$impression-color: linear-gradient(228deg, #65c1fa 0%, rgb(240, 246, 253) 100%);
$active-color: #65c1fa;
$primary-color-alpha: #65c1fae3;
$dark: #373737;
$light: #fff9ee;
$yellow: #fdc349;
$skyblue: #9cd2cd;
$violet: #d2ceff;
$green: #c5d49b;


